@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
}

//--C--//

.blog-list {
  margin-left: 40%;
  list-style-type: none;
}
.li-c {
  max-width: 50%;
  border: 2px solid black;
  min-width: 10%;
  margin-bottom: 3%;
}
.js-title:hover {
  color: red;
}
//--E--//
.whole-page {
  margin-left: 40%;
}
.crud-div {
  margin-left: 40%;
}
.update-btn {
  display: none;
}
.cancel-btn {
  display: none;
}
.edit-delete-view {
  margin-left: 40%;
}
