<div class="edit-delete-view">
<h1 class="title">{{title}}</h1>
<h1 class="body">{{body}}</h1>
<button class="edit-btn">Edit</button>
<button class="delete-btn">Delete</button>
<button class="update-btn">Update</button>
<button class="cancel-btn">Cancel</button>
</div>
