<h1 class="crud-heading">CRUD App</h1>
<label for="title"></label>
<input name="title" value="Title" class="input-crud-title">

<label for="body"></label>
<input name="body" value="Body" class="input-crud-body">

<input type="submit" value="Create Post" class="add-post">

<ul class="blog-list">
  <h1>{{model.title}} </h1>
  <h1>{{model.body}} </h1>
  <button class="delete-btn">Delete</button>
  <button class="edit-btn">Edit</button>
</ul>
