<div class="crud-div">
<h1 class="crud-heading">CRUD App</h1>
<label for="title"></label>
<input name="title" value="Title" class="input-crud-title">

<label for="body"></label>
<input name="body" value="Body" class="input-crud-body">

<input type="submit" value="Create Post" class="add-post">
</div>
