<h1>Add a Blog Post</h1>

<label for="name">Title:</label>
<input class="input-box" type="text" name="title" value="">
<br>

<label for="email">Body:</label>
<input class="input-box" type="text" name="body" value="">
<input type="submit" class="submit-btn" value="Create Post">
