<h1>hello</h1>

<h1>Add Person Info</h1>
<label for="firstname">First Name:</label>
<input class="input-box" type="text" name="firstName" value="">
<br>

<label for="lastName">Last Name:</label>
<input class="input-box" type="text" name="lastName" value="">
<br>

<label for="address">Address:</label>
<input class="input-box" type="text" name="address" value="">
<br>

<label for="phoneNumber">Phone Number:</label>
<input class="input-box" type="text" name="phoneNumber" value="">

<input type="submit" value="Create Person" class="person-submit-btn">
